*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    height: 80%;
    width: 100%;
    margin-top: 2%;
    max-width: 448px;
    min-width: 375px;
    background-color: #e4e2e2;
    border-radius: 1rem;
    box-shadow: 20px 20px 60px  rgb(194, 194, 194);
}
.myplaylist {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text {  
    font-weight: 700;   
}

.myplaylist button {
    font-size: 1.5rem;
    color: #4B4A4A;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 3px 3px 8px #d0d0d0,
                inset -3px -3px 8px #f0f0f0;
    
}
.myplaylist :nth-child(3)  {
    color: #FF0800;  
}

.image {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem; 
}
img {
    width: 70%;
    object-fit: cover;
    aspect-ratio: 1 !important;
    border-radius: 169px;
    box-shadow:  -4px 4px 8px #696969,
                 4px -4px 8px #f5f5f5;
}


.track, .artist {
    padding: 0.5rem;
    text-align: center;
    align-items: center;
} 
.track > span {
    font-size: medium;   
}
.artist > span {
    font-size: large;
    
}
.artist {
    color: #7E7E7F;

}

.play-icon {

    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between; 
}
.play-icon button {
    font-size: 2rem;
    color: #4B4A4A;
    padding: 0.75rem;
    border: none;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: -4px 4px 8px #cecece,
                4px -4px 8px #f2f2f2;
}

#play {
    color: #19E3F2;
    padding: 0 1rem;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset -5px 5px 10px #d3d3d3,
                inset 5px -5px 10px #ededed;

}
.progress {
    height: 0.5rem;
    border: solid 1px #D0CFCF;
    margin: 1rem 3rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgba(139,201,243,1)  0%, rgba(23,138,210,1) 35%, rgba(24,227,242,1) 70%, #EFEFEF 70%);

}

footer {
    padding: 1rem 7rem 2rem;
}
.footer-bar {
    height: 6px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 3px rgb(148, 148, 148),
                inset  2px -2px 3px rgb(255, 255, 255);   
}